.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 16px; 
  font-weight: 600; 
  line-height: 22px; 
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 60px 1fr; 
}

.profile-picture {
  width: 40px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 14px; 
  color: rgb(100, 100, 100); 
}

.video-author {
  margin-bottom: 5px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px; 
  row-gap: 45px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.video-time {
  font-size: 14px; 
  font-weight: 600; 
  padding: 6px;
  border-radius: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px; 
  right: 8px; 
}
