body {
  background-color: #191919;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
}

.move-icon {
  height: 30px;
}

.move-button {
  background: none;
  border: 3px solid #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
  font-size: 18px;
}

.reset-score-button,
.auto-play-button {
  background-color: #ffffff;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
